.min-h-screen{
    min-width: 100vh
}
.w-full{
    width: 100%;
margin: 0%;
background-color:#f5f5dc;
}
.container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 0; /* Background layer */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
   
}
.inset-0{
top: 0;
right: 0;
bottom: 0;
left: 0;

}
.z-0{
    z-index: 0;
    
}
.main{
    height: 100%;
}
.heading{
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-weight: bold;
     color: #7c792a;
     
}
.head{
    position: relative;
    z-index: 2; /* Above background */
    display: flex;
    text-align: center;
    margin-left: 43%;
    height: 20px;
     
   
}
.big{
  
    position: relative;
    z-index: 2;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 200px;
    margin-top: 100px;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
   
    box-shadow: black;
    box-shadow: 1px 1px 10px 1px black;
    background-color: #efebe5;
}   
.one{
    height: 80px;
    width: 80px ;
     margin: 15px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #7c792a;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;



}
.one:hover{
      box-shadow: 1px 1px 10px 1px black;
}
.cake1{
    height: 80px;
 border-radius: 20px;
}
.picture{
     height: 80px;
 border-radius: 20px;

}
.show{
    height: 500px;
    width: 500px;
    background-color: rgb(49, 34, 17);
    z-index: 2;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 20px;
     box-shadow: 1px 1px 10px 1px black;
}
.pic{
    height: 400px;
    margin: 20px;
    background-color: #f5f5dc;
    border-radius: 20px;

}
.slider{
    width: 300px;
    margin-left: 60px;
    accent-color: #7c792a;
    margin-top: 20px;
}